Upload a single PDF of your IJulia Notebook for your entire group. You can use this templateDownload this template to get started. The progress report will be graded on completion alone. For credit, your progress report must contain the following:
Introduction: The first few sentences should give a quick overview of the entire project. Then, elaborate with a description of the problem that will be solved, a brief history (with citations) of how the problem came about, why it's important/interesting, and any other interesting facts you'd like to talk about. You should address and explain where the problem data is coming from (research? the internet? synthetically generated?)  Include any assumptions you are making to simplify the problem.
Discussion: An explanation of the work done so far and what work remains before the project is completed. To the best of your ability, give rough estimates of how long you expect the remaining steps to take.
Issues/concerns: Briefly summarize any major issues or concerns you have about your project at this point. Do you anticipate being able to solve these issues?
You are welcome to include anything else in your progress report beyond these 3 items.